.about-section {
  background-color: wheat;
}

.about-title {
  display: flex;
  text-decoration: underline;
  justify-content: center;
}


.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 500px) {

    .description{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    
}