.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  display: flex;
  border-style: solid;
  max-height: 400px;
  max-width: 200px;
}

.total-item-indication{
  color: wheat;
}


.cart-display {
  position: fixed;
  color: wheat;
  top: 12px;
  right: 10px;
}
